#include "../../Flutter/enRelease.xcconfig"
#include "Warnings.xcconfig"

FLUTTER_TARGET=lib/main.dart
ASSET_PREFIX=en
BUNDLE_NAME=PicPun
BUNDLE_DISPLAY_NAME=PicPun
ADMOB_APPID=ca-app-pub-8410138769234735~3219143369
REVERSED_CLIENT_ID=com.googleusercontent.apps.175623611962-82s2hbtschkq1pf42ksdgeur3ithh3ip
